.card {
  width: 40%;
  display: flex;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

span {
  flex-grow: 1;
}