<mat-accordion displayMode="flat" multi="true">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> Title </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="title" (keyup)="onKeyUp()">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Description </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="description" (keyup)="onKeyUp()">
    </mat-form-field>
  </mat-expansion-panel>

  <!-- IMPLEMENT SELECTION FOR GENRES LATER -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Genre </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto>
        <mat-option> Option1 </mat-option>
        <mat-option> Option2 </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> Duration </mat-panel-title>
    </mat-expansion-panel-header>
    <label> Minimum duration </label>
    <div class="adjacent-panel-body">
      <mat-form-field>
        <mat-label> Hours </mat-label>
        <input [(ngModel)]="durationHoursMinimum" matInput type="number" min="0" (keyup)="onKeyUp()">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Minutes </mat-label>
        <input [(ngModel)]="durationMinutesMinimum" matInput type="number" min="0" max="60" (keyup)="onKeyUp()">  
      </mat-form-field>
    </div>
    <label> Maximum duration </label>
    <div class="adjacent-panel-body">
      <mat-form-field>
        <mat-label> Hours </mat-label>
        <input [(ngModel)]="durationHoursMaximum" matInput type="number" min="0" (keyup)="onKeyUp()">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Minutes </mat-label>
        <input [(ngModel)]="durationMinutesMaximum" matInput type="number" min="0" max="60" (keyup)="onKeyUp()">
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> Director </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="director" (keyup)="onKeyUp()">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> Cast </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="cast" (keyup)="onKeyUp()">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> Date of release </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="date-input">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input [(ngModel)]="publishedAtStart" matStartDate placeholder="Start date" (dateChange)="onKeyUp()">
        <input [(ngModel)]="publishedAtEnd" matEndDate placeholder="End date" (dateChange)="onKeyUp()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> Price </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="adjacent-panel-body" style="flex-direction: column;">
      <mat-form-field>
        <mat-label> Minimum </mat-label>
        <input [(ngModel)]="minPrice" matInput type="number" (ngModelChange)="onKeyUp()">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Maximum </mat-label>
        <input [(ngModel)]="maxPrice" matInput type="number" (ngModelChange)="onKeyUp()">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Currency </mat-label>
        <mat-select>
          <mat-option value="RSD"> RSD </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> Airing date </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="date-input">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker2">
        <input [(ngModel)]="airingTimeStart" matStartDate placeholder="Start date" (dateChange)="onKeyUp()">
        <input [(ngModel)]="airingTimeEnd" matEndDate placeholder="End date" (dateChange)="onKeyUp()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-date-range-picker #picker2></mat-date-range-picker>
    </mat-form-field>
  </mat-expansion-panel>

</mat-accordion>