<div class="grid-container">
  <div class="spacer"></div>
  <div class="basket-items">
    <app-basket-item></app-basket-item>
    <app-basket-item></app-basket-item>
    <app-basket-item></app-basket-item>
    <app-basket-item></app-basket-item>
    <app-basket-item></app-basket-item>
  </div>

  <mat-card appearance="outlined" class="card">
    <mat-card-header style="margin-bottom: 0.5rem;">
      <mat-card-title> Order overview </mat-card-title>
    </mat-card-header>
    <mat-card-content class="register-form">
      
      <mat-divider></mat-divider>
      Total Price: 0
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: end;">
      <button mat-flat-button>Proceed to checkout</button>
    </mat-card-actions>
  </mat-card>
  <div class="spacer"></div>
</div>