* {
    margin: 0;
    padding: 0;
}


.drawer {
  border-radius: 0;
  border-right: 1px solid #74777E;
  /* padding: 1rem; */
}

.toolbar {
  background-color: rgb(201, 201, 201);
}

/* .grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 3.5rem 2rem 1fr 2rem 1rem;
    grid-template-columns: 1fr 4fr;
}

.toolbar {
    grid-column: 1 / 3;
}

.sidenav {
    grid-row: 2 / 5;
    background-color: ghostwhite;
    border-right: 1px solid gray;
}

.content-container {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 5;

    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
} */