<mat-toolbar class="toolbar">
  <div routerLink="/" class="cinema-logo" style="text-decoration: none; color: black;">
    <mat-icon>movie</mat-icon>
    Cinema co.
  </div>
  <div class="spacer"></div>
  <button mat-icon-button routerLink="/basket">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button [mat-menu-trigger-for]="profileMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/login">Log in</button>
    <button mat-menu-item routerLink="/register">Register</button>
  </mat-menu>
</mat-toolbar>

<router-outlet />
